.navbar{
    width: 100%;
    background-color: rgb(63, 63, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    padding-left: 10px;
    display: flex;
    font-size: 20px;
}
.navlinks{
    padding-right: 20px;
    display: flex;
    list-style-type: none;
    gap: 25px;
}
li{
    color: white;
}
.link{
    color: rgb(0, 0, 0);
}
